  <ul class="">
          <li class="top3-bar">
            <div class="bar-item">
               <img src="https://i.scdn.co/image/c90f858b55bd875238a866f5e57676c46a106007" class="img-bar">


      </div>
      <div class="bar-container" >
        <div class="hiddenbar-container">
          <div style="background-color: <%= @color_function  %>; width: <%= @bar_function %>%; height: 30px; border-radius:10px;">
            <h6>
              <%= @bar_function %>%
            </h6>
          </div>
        </div>
      </div>
      </li>
                <li class="top3-bar">
            <div class="bar-item">
               <img src="https://i.scdn.co/image/c90f858b55bd875238a866f5e57676c46a106007" class="img-bar">


      </div>
      <div class="bar-container" >
        <div class="hiddenbar-container">
          <div style="background-color: <%= @color_function  %>; width: <%= @bar_function %>%; height: 30px; border-radius:10px;">
            <h6>
              <%= @bar_function %>%
            </h6>
          </div>
        </div>
      </div>
      </li>
                <li class="top3-bar">
            <div class="bar-item">
               <img src="https://i.scdn.co/image/c90f858b55bd875238a866f5e57676c46a106007" class="img-bar">


      </div>
      <div class="bar-container" >
        <div class="hiddenbar-container">
          <div style="background-color: <%= @color_function  %>; width: <%= @bar_function %>%; height: 30px; border-radius:10px;">
            <h6>
              <%= @bar_function %>%
            </h6>
          </div>
        </div>
      </div>
      </li>
                <li class="top3-bar">
            <div class="bar-item">
               <img src="https://i.scdn.co/image/c90f858b55bd875238a866f5e57676c46a106007" class="img-bar">


      </div>
      <div class="bar-container" >
        <div class="hiddenbar-container">
          <div style="background-color: <%= @color_function  %>; width: <%= @bar_function %>%; height: 30px; border-radius:10px;">
            <h6>
              <%= @bar_function %>%
            </h6>
          </div>
        </div>
      </div>
      </li>
  </ul>





