  <ul>
    <div>
          <li class="top3-bar">
            <div class="bar-item">

              <div style="display: flex;">
               <img src="https://i.scdn.co/image/c90f858b55bd875238a866f5e57676c46a106007" class="img-bar">
              <h4>LinkUpTV</h4>
              </div>
      <div class="bar-container" style="background-color: rgba(<%= @color_function %>,0.3); " >
        <div class="hiddenbar-container">
          <div style="background-color: rgb(<%=@color_function%>); width: <%= @bar_function %>%; height: 20px; border-radius:10px; ">
            <h6>
              <%= @bar_function %>%
            </h6>
          </div>
        </div>
      </div>
      </div>
      </li>
    </div>
    <hr>
<!--------------------------------------------------------------------------------------------------->
    <div>
          <li class="top3-bar">
            <div class="bar-item">

              <div style="display: flex;">
               <img src="https://i.scdn.co/image/c90f858b55bd875238a866f5e57676c46a106007" class="img-bar">
              <h4>LinkUpTV</h4>
              </div>
      <div class="bar-container" style="background-color: rgba(<%= @color_function %>,0.3); " >
        <div class="hiddenbar-container">
          <div style="background-color: rgb(<%=@color_function%>); width: <%= @bar_function %>%; height: 20px; border-radius:10px; ">
            <h6>
              <%= @bar_function %>%
            </h6>
          </div>
        </div>
      </div>
      </div>
      </li>
    </div>
      <hr>
<!--------------------------------------------------------------------------------------------------->
     <div>
          <li class="top3-bar">
            <div class="bar-item">

              <div style="display: flex;">
               <img src="https://i.scdn.co/image/c90f858b55bd875238a866f5e57676c46a106007" class="img-bar">
              <h4>LinkUpTV</h4>
              </div>
      <div class="bar-container" style="background-color: rgba(<%= @color_function %>,0.3); " >
        <div class="hiddenbar-container">
          <div style="background-color: rgb(<%=@color_function%>); width: <%= @bar_function %>%; height: 20px; border-radius:10px; ">
            <h6>
              <%= @bar_function %>%
            </h6>
          </div>
        </div>
      </div>
      </div>
      </li>
    </div>
        <hr>
      <!--------------------------------------------------------------------------------------------------->
</ul>




