  <ul class="card-4">
    <li class="top3-bar">
      <img src="https://www.rollingstone.com/wp-content/uploads/2018/12/GettyImages-1062194596.jpg" class="bar-item" style="width:100px">
      <div style="width: 600px; height: 70px;">
      <div style="background-color: <%= @color_function  %>; width: <%= @bar_function %>%; height: 30px; border-radius: 10px;">
          <h6 style="color: black; font-weight: bold; margin:5px;">
          <%= @bar_function %>%
        </h6>
      </div>
      </div>
      <div class="bar-item">
        <span class="large">Kevin Hart</span><br>
        <span>comdey</span>
      </div>
    </li>

    <li class="top3-bar">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71J1RIb3OAL._SX425_.jpg" class="bar-item" style="width:100px">
       <div style="width: 600px; height: 70px;">
      <div style="background-color: <%= @color_function  %>; width: <%= @bar_function %>%; height: 30px; border-radius: 10px;">
        <h6 style="color: black; font-weight: bold; margin:5px;">
          <%= @bar_function %>%
        </h6>
      </div>
      </div>
      <div class="bar-item">
        <span class="large">Fights</span><br>
        <span>anime</span>
      </div>
    </li>

    <li class="top3-bar">
      <img src="https://i.scdn.co/image/c90f858b55bd875238a866f5e57676c46a106007" class="bar-item" style="width:100px">
       <div style="width: 600px; height: 70px;">
      <div style="background-color: <%= @color_function  %>; width: <%= @bar_function %>%; height: 30px; border-radius: 10px;">
          <h6 style="color: black; font-weight: bold; margin:5px;">
          <%= @bar_function %>%
        </h6>
      </div>
      </div>
      <div class="bar-item">
        <span class="large">LinkUpTv</span><br>
        <span>music</span>
      </div>
    </li>
  </ul>



