<h1>YoutubeAccounts#new</h1>
<p>Find me in app/views/youtube_accounts/new.html.erb</p>

<%= simple_form_for @youtube_account do |f| %>
  <%= f.input  :name, label:"Name your your account on our site!:" %>
  <%= f.hidden_field  :access_token, value: @access_token %>
  <%= f.hidden_field  :refresh_token, value: @refresh_token %>
  <%= f.button :submit, class: "btn btn-primary" %>

<% end %>
