 <%= render 'shared/navbar'%>

 <div class= "container-structure">


  <%= image_tag current_user.avatar, class: "avatar-large m-3" %>
  <div class= "dates">
  <i class="fab fa-youtube"></i>
  <h1><%= Date.today.strftime("%A, %b %d") %></h1>
  </div>

  <h1>Hello <%= current_user.first_name %> those are your statistics</h1>
 </div>



<div class= "container-structure">

  <div class= "topthree">

    <%= pie_chart Video.group(:title).count %>

  </div>

  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Tadaa!</strong> 🎉 your most watched video is x.</span>
  <a data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>


<div class= "try-out">
  <h1>TEST</h1>
</div>
<i class="fab fa-youtube"></i>


</div>

