
<div class="banner-particles" style="height: 100vh; position: absolute; width: 100vw;">
  <canvas class="background background-2" style="position: absolute; top: 0; left: 0;"></canvas>
</div>
<% colors = ["#D72638","#E89E2C","#EFECED", "#7394cb", "#e1974d", "#84ba5c", "#d35d60", "#8f66a7", "#ad6a58","#cbc374"] %>
<div class="wrapper dashboard-frame dashboard-frame-margin row">
  <div class="col-md-3 side-left">

    <div class="user-card side-left">
      <%= image_tag current_user.avatar, class: "avatar-large m-3" %>
        <div class="name">
        <h1><%=current_user.full_name %></h1>
        </div>
      <div class= "dates">
        <h1><%= Date.today.strftime("%A, %b %d") %></h1>
      </div>



      <div class= "pages-icons">
        <%= link_to user_youtube_account_data_path(current_user, 1) do %>
        <i class="fas fa-chart-pie"></i>
        <% end %>
        <!-- <a href="user_data_path(current_user)"> -->
          <%= link_to user_youtube_account_data_path(current_user, 1) do %>
          <i class="fas fa-plus-circle"></i>
          <% end %>
        </div>

      </div>
    </div>
    <div class="col-md-9 side-right">
      <div class="tease">
        <div class= "tease-info">
          <h1> Welcome, <%=current_user.full_name %></h1>
        </div>
      </div>
      <div>
        <% if current_user.youtube_accounts.count == 0 %>
        <div>
          <a href=<%= @authorization_url %>>Please add a Youtube Account</a>
        </div>
        <% else %>
        <div class="card-topthree">

            <p class="title-weekly text-center">
              <span>weekly report</span>
            </p>





          </div>
          <% colors = ["#3AB795", "#191923","#D72638","#E89E2C","#EFECED", "#FEB801"] %>
          <div class="card-piechart"><%= pie_chart WatchedVideo.group(:watch).count, colors: colors, messages: {empty: "No data"} %></div>
          <% end %>

        </div>
      </div>
    </div>

