
<div class="banner-dashboard" style="height: 100vh; position: absolute; width: 100vw;">
  <canvas class="background background-2" style="position: absolute; top: 0; left: 0;"></canvas>

</div>




  <div class="dashboard-frame dashboard-frame-margin row">
    <div class="col-md-4">
      <div class="user-card">
        <%= image_tag current_user.avatar, class: "avatar-large m-3" %>
        <div class= "dates">
          <i class="fab fa-youtube"></i>
          <h1><%= Date.today.strftime("%A, %b %d") %></h1>
        </div>
        <p> TEXT -labore et </p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="tease">
        <div class= "tease-info">
          <h1> Welcome, <%=current_user.full_name %></h1>
        </div>
      </div>
      <% if current_user.youtube_accounts.count == 0 %>
          <a href=<%= @authorization_url %>>Please add a Youtube Account</a>
      <%  else %>
      <div class="card-topthree"></div>

      <div class="card-piechart"><%= pie_chart Video.group(:title).count %></div>
      <% end %>
    </div>
  </div>
</div>




