 <%= render 'shared/navbar'%>


 <div class= "container-structure">
  <div class= "cards-chart">
  <h1>welcome to the data page</h1>
  <div class= "container-time">
    <%= render 'shared/date_filter' %>
  </div>
</div>
</div>

<div class= "container-structure">
  <div class= "cards-chart">
    <%= render 'shared/top3' %>
  </div>
</div>


<div class= "container-structure">
  <div class= "cards-chart">
    <h1>Pie chart</h1>
    <%= pie_chart Video.group(:title).count %>
  </div>


  <div class= "cards-chart">
    <h1>sanky</h1>
    <%= render 'shared/sankey' %>
  </div>

  <div class= "cards-chart">
    <h1>line chart</h1>
    <%= line_chart Video.group(:title).count %>
  </div>

</div>


