
<div class="banner">
  <div class="banner-content text-center">

    <h1>Tube Stats</h1>
    <p>Text slogen for our page Lorem ipsum dolor sit amet,</p>
  </div>
</div>

<div class="container-animation">
  <%= link_to "Login", new_user_session_path, class: "bnt bnt-home" %>
  <%= link_to "Sign up", new_user_registration_path, class: "bnt bnt-home" %>

  <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
     <circle cx="170" cy="170" r="160" stroke="#374785"/>
     <circle cx="170" cy="170" r="135" stroke="#5680E9"/>
     <circle cx="170" cy="170" r="110" stroke="#374785"/>
     <circle cx="170" cy="170" r="85" stroke="#5680E9"/>
  </svg>

</div>



<div class="container">
  <div class= "row">
    <div class="col-6" >
      <div class="frame">
        <%= image_tag "image 1.png"%>
      </div>
    </div>
    <div class="col-6">
      <h1>Data presentation</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
    </div>
  </div>
</div>


<div class="container">
  <div class= "row">
    <div class="col-6">
    <h1>channel-suggestions</h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
    </div>
    <div class="col-6" >

      <div class="frame">
        <%= image_tag "image 2.png" %>
      </div>
    </div>
  </div>



  <div class="container">
    <div class= "row">
      <div class="col-6" >

        <div class="frame">
          <%= image_tag "image 3.png" %>
        </div>
      </div>
      <div class="col-6">
        <h1>video-suggestions</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient </p>
      </div>
    </div>
  </div>
