<div style="height: 100vh; position: absolute; width: 100vw;">
  <canvas class="background" style="position: absolute; height: 100vh !important; top: 0; left: 0; display: block; z-index: -1"></canvas>
</div>

<div class="banner">
  <div class="banner-content text-center">

    <h1>Tube Stats</h1>
    <p>Measure and track your Youtube content with more transparancy</p>
    <div class="home-buttons">
      <%= link_to "Sign up", new_user_registration_path, class: "bnt bnt-home bnt-one" %>
      <%= link_to "Login", new_user_session_path, class: "bnt bnt-home bnt-two" %>

    </div>
 </div>

</div>

<div class= "arrow">
  <i class="fas fa-chevron-down fa-2x"></i>
</div>


<!-- <div class="container-animation">

  <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
     <circle cx="170" cy="170" r="160" stroke="#374785"/>
     <circle cx="170" cy="170" r="135" stroke="#5680E9"/>
     <circle cx="170" cy="170" r="110" stroke="#374785"/>
     <circle cx="170" cy="170" r="85" stroke="#5680E9"/>
  </svg>

</div> -->



<div class="container">
  <div class= "row">
    <div class="col-6" >
      <div class="frame">
        <%= image_tag "image 1.png"%>
      </div>
    </div>
    <div class="col-6">
      <h1>Data presentation</h1>
      <p>Measure and track your watched content on Youtube with more transparancy. Explore your Youtube behaviour in various ways.</p>
    </div>
  </div>
</div>


<div class="container">
  <div class= "row">
    <div class="col-6">
    <h1>Channel suggestions</h1>
      <p>A Trackingtool for your time spent on Youtube, will provide new content creators based on your behaviour.</p>
    </div>
    <div class="col-6" >

      <div class="frame">
        <%= image_tag "image 2.png" %>
      </div>
    </div>
  </div>



  <div class="container">
    <div class= "row">
      <div class="col-6" >

        <div class="frame">
          <%= image_tag "image 3.png" %>
        </div>
      </div>
      <div class="col-6">
        <h1>Video suggestions</h1>
        <p>Using the latest tecnologies to provide you with the contant you want- giving new inputs for your watching pleasure</p>
      </div>
    </div>
  </div>
