<div class="banner">
   <h1>Tube Stats</h1>
  <div class="container-banner">
    <h1>Tube Stats</h1>
    <p> Text sloagen for our page</p>
    <a class="btn normal" href=>Sign up</a>
  </div>
</div>

<%= timeline [
  ["Washington", "1789-04-29", "1797-03-03"],
  ["Adams", "1797-03-03", "1801-03-03"],
  ["Jefferson", "1801-03-03", "1809-03-03"]
] %>
<%= pie_chart({"Football" => 10, "Basketball" => 5, "Handball" => 15}) %>


<div class="container">
  <div class= "row">
    <div class="col-6" >
      <h1>Data presentation</h1>
      <%= image_tag "homeimage1.png" %>
    </div>
  <div class="col-6">
    <p>texxetttettetetteteteteteteet</p>
   </div>
  </div>
</div>


<div class="container">
  <div class= "row">
    <div class="col-6">
      <p>texxetttettetetteteteteteteet</p>
    </div>
    <div class="col-6" >
      <h1>channel-suggestions</h1>
      <%= image_tag "homeimage1.png" %>
    </div>
  </div>
</div>



<div class="container">
  <div class= "row">
    <div class="col-6" >
      <h1>video-suggestions</h1>
      <%= image_tag "homeimage1.png" %>
    </div>
    <div class="col-6">
      <p>texxetttettetetteteteteteteet</p>
    </div>
  </div>
</div>
