<div class="banner-suggestions" style="height: 100vh; position: absolute; width: 100vw;">
  <canvas class="background background-2" style="position: absolute; top: 0; left: 0;"></canvas>
</div>

<div class= "col-md-8">
  <div class= "container-structure-show">
    <%= image_tag current_user.avatar, class: "avatar-large m-3" %>
    <div class= "dates">
      <i class="fab fa-youtube"></i>
      <h1><%= Date.today.strftime("%A, %b %d") %></h1>
    </div>

  <% if current_user.youtube_accounts.count == 0 %>
    <a href=<%= @authorization_url %>>Please add a Youtube Account</a>
  </div>
  <% else %>
    <h1>Hello <strong><%= current_user.full_name %></strong> Check out this channel</h1>


    <div class="dashboard-frame row">
      <div class="col-md-4">
        <div class="user-card">

          <%= image_tag current_user.avatar, class: "avatar-large m-3" %>
          <div class= "dates">
            <i class="fab fa-youtube"></i>
            <h1><%= Date.today.strftime("%A, %b %d") %></h1>
          </div>
          <p> TEXT -labore et </p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="suggestion-show-videos card-group row">
          <!-- CHANGE @videos WITH THE NEW INSTANCE FROM THE CONTROLLER  -->
        <% @videos.each do |video| %>
          <!-- CARD -->
          <div class="col-md-4 col-sm-6 card">
            <img class="card-img-top" src="https://yt3.ggpht.com/EQ7k1HJbFvVmg4YkaFh5VZv2QOoW-PwvHQi4vSSXVDFHM8JnECINlKf6HNRs5Smn-3mvHgq3DmiJRiWDD2s=s176-c-k-c0xffffffff-no-nd-rj" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= video.title %></h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

          <% end %>

        </div>

        <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
              <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                Odit sed qui, dolorum!.</p>
              <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<% end %>

<% if @type = "Channel" %>

<% end %>
<% if @type = "Channel" %>

<% end %>
<% if @type = "Channel" %>

<% end %>
